body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #607d8b;
  font-family: 'Roboto', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
}
.btn {
  font-size: 26px;
  background: #4caf50;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 1;
  font-family: inherit;

  transition: all .2s;
}

.btn:hover {
  opacity: .7;
}

.btn:active {
  color: #444;
}